body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: #064e14 url(./assets/felt.webp) repeat 0 0;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 300px;
  position: relative;
  /* border: 1px solid white; */
  min-width: 600px; 
}
