.hand {
  display: inline-flex;
  overflow-x: auto;
  width: 400px;
  margin-right: 30px;
}

.hand div {
  margin-left: -30%;
}

.hand div:first-child {
  margin-left: 0;
}

.hand div:last-child {
  flex-shrink: 0;
}

@media only screen and (max-width: 690px) {
  .hand {
    width: 230px;
    margin-right: 10px;
  }
}
