
.mainMenu {
  height: calc(100vh - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
}

.gameRules {
  max-height: 50vh;
  overflow-y: auto;
  margin-bottom: 20px;
  text-align: left;
}