.card {
  display: block;
  height: 291px;
  width: 200px;
  background: url(../../assets/cards.webp) no-repeat 0 0;
  border: 3px solid #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 12px #333;
}

.closed {
  background: url(../../assets/card-back.webp) repeat 0 0;
  background-size: contain;
}

._132 {
  background-position: -200px 0;
}

._133 {
  background-position:-400px 0;
}

._134 {
  background-position: -600px 0;
}

._121 {
  background-position: 0 -290px;
}

._122 {
  background-position: -200px -290px;
}

._123 {
  background-position: -400px -290px;
}

._124 {
  background-position: -600px -290px;
}

._111 {
  background-position: 0 -581px;
}

._112 {
  background-position: -200px -581px;
}

._113 {
  background-position: -400px -581px;
}

._114 {
  background-position: -600px -581px;
}

._101 {
  background-position: 0 -871px;
}

._102 {
  background-position: -200px -871px;
}

._103 {
  background-position: -400px -871px;
}

._104 {
  background-position: -600px -871px;
}

._91 {
  background-position: 0 -1162px;
}

._92 {
  background-position: -200px -1162px;
}

._93 {
  background-position: -400px -1162px;
}

._94 {
  background-position: -600px -1162px;
}

._81 {
  background-position: 0 -1452px;
}

._82 {
  background-position: -200px -1452px;
}

._83 {
  background-position: -400px -1452px;
}

._84 {
  background-position: -600px -1452px;
}

._71 {
  background-position: 0 -1743px;
}

._72 {
  background-position: -200px -1743px;
}

._73 {
  background-position: -400px -1743px;
}

._74 {
  background-position: -600px -1743px;
}

._61 {
  background-position: 0 -2033px;
}

._62 {
  background-position: -200px -2033px;
}

._63 {
  background-position: -400px -2033px;
}

._64 {
  background-position: -600px -2033px;
}

._51 {
  background-position: 0 -2324px;
}

._52 {
  background-position: -200px -2324px;
}

._53 {
  background-position: -400px -2324px;
}

._54 {
  background-position: -600px -2324px;
}

._41 {
  background-position: 0 -2615px;
}

._42 {
  background-position: -200px -2615px;
}

._43 {
  background-position: -400px -2615px;
}

._44 {
  background-position: -600px -2615px;
}

._31 {
  background-position: 0 -2905px;
}

._32 {
  background-position: -200px -2905px;
}

._33 {
  background-position: -400px -2905px;
}

._34 {
  background-position: -600px -2905px;
}

._21 {
  background-position: 0 -3196px;
}

._22 {
  background-position: -200px -3196px;
}

._23 {
  background-position: -400px -3196px;
}

._24 {
  background-position: -600px -3196px;
}

._11 {
  background-position: 0 -3486px;
}

._12 {
  background-position: -200px -3486px;
}

._13 {
  background-position: -400px -3486px;
}

._14 {
  background-position: -600px -3486px;
} 