.controls h2 {
  color: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
}

.hit {
  background-color: #0b4d00;
}

.hit:hover {
  background-color: #049b22;
}

.stand {
  margin-right: 4px;
  background-color: #854703;
}

.stand:hover {
  background-color: #e78f28;
}