body {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: #fefefe;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #eee;
}

button:hover,
button:focus {
  border: 1px solid #fff;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}


.App {
  text-align: center;
  background: #064e14 url(./assets/felt.webp) repeat 0 0;
  min-height: 100vh;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 300px;
  position: relative;
  /* border: 1px solid white; */
  min-width: 600px; 
}
