.count {
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.25);
  background-color: none;
  margin-right: 10px;
  font-size: 32px;
}

.handTotal {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  min-width: 220px;
}